<div class="row text-center">
  
  <div class="col-1">{{indice+1}}</div>
  <div class="col-1">{{empleadosDeLista.nombre}}</div>
  <div class="col-1">{{empleadosDeLista.apellido}}</div>
  <div class="col-1">{{empleadosDeLista.cargo}}</div>
  <div class="col-1">{{empleadosDeLista.salario}}</div>

  <div class="col-4">
    <button class="btn btn-warning" [routerLink]="['/actualiza', indice]">Edit</button>&nbsp;
    <app-caracteristicas-empleado-c (caracteristicasEmpleados)="agregarCaracteristica($event)">
    </app-caracteristicas-empleado-c>
  </div>

  <div class="col-3">
    <ul style="list-style:none; display: flex; flex-wrap: wrap;">
      <li style="margin-right: 5px;" *ngFor="let caracteristica of arrayCaracteristicas">{{caracteristica}}</li>
    </ul>
  </div>
</div>
<hr class="my-1"/>
