
<tr>
    <th>{{indice+1}}</th>
    <td>{{empleadosDeLista.nombre}}</td>
    <td>{{empleadosDeLista.apellido}}</td>
    <td>{{empleadosDeLista.cargo}}</td>
    <td>{{empleadosDeLista.salario}}</td>
    <td><app-caracteristicas-empleado-c (caracteristicasEmpleados)="agregarCaracteristica($event)">
    </app-caracteristicas-empleado-c></td>
    <td>
      <ul style="list-style: none;">
        <li *ngFor="let caracteristica of arrayCaracteristicas">{{caracteristica}}</li>
      </ul>
    </td>
  </tr>
