<div class="container">
  <h1 class="text-center text-primary bg-warning-subtle py-2">{{titulo}} - {{saludo}}</h1>
  <!-- Formulario de registro -->
  <form>
    <div class="mb-1">
      <label for="exampleInputEmail1" class="form-label">Nombre:</label>
      <input type="text" name="nombre" class="form-control" [(ngModel)]="nombre"/>
    </div>

    <div class="mb-1">
      <label for="exampleInputEmail1" class="form-label">Apellido:</label>
      <input type="text" name="apellido" class="form-control" [(ngModel)]="apellido"/>
    </div>

    <div class="mb-1">
      <label for="cargo" class="form-label">Cargo:</label>
      <input type="text" name="cargo" class="form-control" [(ngModel)]="cargo"/>
    </div>

    <div class="mb-1 text-center">
      <button type="submit" class="btn btn-primary" (click)="registrarUsuario()">Registrar</button>
    </div>
  </form>
  <!-- Formulario de registro -->

  <p class="alert alert-info" *ngIf="registrado; else sinRegistrar">
    {{mensaje}} con el nombre de {{nombre}} {{apellido}} y tiene el cargo de
    <!-- <span [ngStyle]="{color: cargo == 'Director' ? 'red' : 'gray'}">{{cargo}}</span> -->
    <span [ngClass]="{paraDirectores: cargo == 'Director'}">{{cargo}}</span>

  </p>

  <ng-template #sinRegistrar>
    <p class="bg-warning-subtle text-center p-3 my-2">Nadie registrado</p>
  </ng-template>
  
  <hr />

  <ul>
    <li *ngFor="let entrada of entradas; index as i;">
      <span style="font-size: larger; font-weight: bold;">{{entrada.titulo}}</span> - entrada {{i+1}}
    </li>
  </ul>

</div>