<div class="container">
  <div class="row">

    <h3 class="bg-primary-subtle text-center p-2">Agregando Empledos</h3>

    <!-- Formulario empleados -->
    <div class="mb-3 col-3">
      <label for="nombre" class="col-sm-2 col-form-label">Nombre</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="nombre" [(ngModel)]="cuadroNombre">
      </div>
    </div>
    <div class="mb-3 col-3">
      <label for="apellido" class="col-sm-2 col-form-label">Apellido</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="apellido" [(ngModel)]="cuadroApellido">
      </div>
    </div>
    <div class="mb-3 col-3">
      <label for="cargo" class="col-sm-2 col-form-label">Cargo</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="cargo" [(ngModel)]="cuadroCargo">
      </div>
    </div>
    <div class="mb-3 col-3">
      <label for="salario" class="col-sm-2 col-form-label">Salario</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="salario" [(ngModel)]="cuadroSalario">
      </div>
    </div>
    <div class="text-end">
      <button class="btn btn-primary w-25" type="submit" (click)="agregarEmpleado()">Agregar</button>
    </div>
    <!-- Formulario empleados -->

  </div>

  <hr />

  <h3 class="text-center bg-warning-subtle my-2 p-2">{{titulo}}</h3>

  <div class="row">
    <!-- <div *ngFor="let empleado of empleados; index as i;">{{empleado.nombre}}</div> -->
    <!-- <table class="table w-100">
        <thead>
          <tr>
            <th scope="col">Indice</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Cargo</th>
            <th scope="col">Salario</th>
            <th scope="col">Agregar Caracteristica</th>
            <th scope="col">Nuevas Caracteristica</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table> -->

      <div class="row text-center text-dark my-1 fw-bold">
        <div class="col-1">Indice</div>
        <div class="col-1">Nombre</div>
        <div class="col-1">Apellido</div>
        <div class="col-1">Cargo</div>
        <div class="col-1">Salario</div>
        <div class="col-4">Agregar Caracteristicas</div>
        <div class="col-3">Nuevas Caracteristicas</div>
      </div>
      <hr class="my-1" />
      <app-empleado-hijo-c *ngFor="let empleado of empleados; index as i;" 
      [empleadosDeLista]="empleado" [indice]="i">
      </app-empleado-hijo-c>

  </div>
  


  <!-- tengo declaracion de variables en el componente padre y luego hago referencia en el componente hijo-->
  <!-- Para que eto funcione debo pasar la declaracion "empleado" y la declaracion "i" en el hijo -->
  <!-- Por tanto usamos directiva "@input" -->

</div>